section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}


    .container{
        margin: 10px 10px 10px 10px;
        display: flex;
        flex-wrap: wrap;

        .sec1{
            flex-direction: row;
            gap: 20px;
            margin: 10px;
            display: flex;
            flex-wrap: wrap;

            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 60%;
                margin: 10px;
                padding: 1.5em;
                margin-left: auto;
                margin-right: auto;
                animation:scale-up-horizontal-left 0.5s;
                
                @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}}
            
            .title{
                height: 70px;
                font-size: 36px;
                display: flex;
                justify-content: end;
                align-items: end;
                color: map-get($map: $palette, $key: 'secondary');
                text-shadow: 0px 5px 2px rgba(255, 255, 255, 0.6);
        }

            .desc{
                color: white;
                border-radius: 8px;
                border-color: black;
            }

            .boton{
                appearance: button;
                backface-visibility: hidden;
                background-color: map-get($map: $palette, $key: 'primary');
                border-radius: 6px;
                border-width: 0;
                box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
            }

            .bttn{
                @extend .boton;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                font-size: 100%;
                height: 44px;
                line-height: 1.15;
                margin: 12px 0 0;
                outline: none;
                overflow: hidden;
                padding: 0 10px;
                position: relative;
                text-align: center;
                text-transform: none;
                transform: translateZ(0);
                transition: all 02s, box-shadow .08s ease-in;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                width: 70%;
                max-width: 350px;
                
                &:disabled{
                    cursor: default;
                }

                &:focus{
                    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
                }
            }
        }

        .img{
            margin: 0 80px 0 0;
            transition: all 0.5s;
            animation:scale-up-horizontal-right 0.5s;

            @keyframes scale-up-horizontal-right{
                0%{
                    transform:scaleX(.4);
                    transform-origin:right center
                }
                100%{
                    transform:scaleX(1);
                    transform-origin:right center
                }
            }

            &:hover{
                transform: scale(1.3);
            }
        }
    } 
}

.section-1{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .tittle{
        @include titulo;
        max-width: 1200px;
        margin-bottom: 10px;
    }

    .description{
        max-width: 653px;
        @include description;
    }
}