@media screen and (max-width: 1157px){
    .products{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .product{
            width: auto;
            max-width: 400px;
        }
    }
}
@media screen and (max-width: 1090px){
    .section-main{

        .container-content-main{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .txt-content{

                h2{
                    justify-content: center;
                }

                p{
                    padding: 0 8px;
                }

                ul{
                    padding: 0 8px;
                }
            }
        }
    }
}
@media screen and (max-width: 973px){
    .container-full{
        
        .container-h{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 892px){
    .section-1{
        justify-content: center;
        margin-left: 0;
    }

    .section-2{
        justify-content: center;
        margin-right: 0;
    }
}
@media screen and (max-width: 866px){
    header{
        padding: 10px 75px;

        .navbar{

            li{
                margin-left: 15px;

                a{
                    font-size: medium;
                }
            }
        }
    }

    .section-main{

        .container-content-main{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .txt-content{

                .index-buttns{
                    
                   .tienda-buttn{

                        .bttn{
                            width: 100%;
                        }
                   }

                   .hosting-buttn{

                    .bttn{
                        width: 100%;
                    }
                   }
                }
            }
        }
    }
}
@media screen and (max-width: 800px){
    .pie-pagina{
        
        .grupo-1{
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;

            .box{
                h2{
                    margin-left: 20px;  
                }

                p{
                    margin-left: 20px;
                }

                .red-social{
                    margin-left: 20px;
                }
            }
        }
    }

    .container{

        .sec1{
            flex-direction: column;

            .content{
                max-width: 100%;
            }
        }
    }

    .container-full{
        
        .container-h{
                display: flex;
                justify-content: center;
                flex-direction: column;
        }
    }
}
@media screen and (max-width: 723px){
    .section-1{
        padding: 0 15px;
    }

    .section-2{
        padding: 0 15px;
    }
}

@media screen and (max-width: 696px){
    header{
        flex-direction: column;
        padding: 0;

        .navbar{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: map-get($map: $palette, $key: 'secondary');
            width: 100%;
            margin-bottom: 0;

            li{

                a{
                    font-size: medium;
                    color: white;
                }
            }
        }
    }
}
@media screen and (max-width: 648px){
    .container-index{
        margin: 0;
        .sec1{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .content{
                max-width: 100%;
                margin-left: 30px;
            }
        
            .img{
                width: 100%;
                max-width: 648px;
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 501px){
    .container-index{

        .sec1{

            .img{
                width: 100%;
                max-width: 501px;      
            }
        }
    }
}
@media screen and (max-width: 495px){
    .container-index{

        .sec1{

            .img{
                width: 70%;
                max-width: 495px;      
            }
        }
    }

    .section-main{

        .container-content-main{

            .txt-content{
                
                h2{
                    font-size: x-large;

                    span{
                        font-size: x-large;
                    }
                }

                p{
                    padding: 0 20px;
                }

                ul{

                    h3{
                        margin-left: 18px;
                    }

                    li{
                        padding: 3px 20px;
                    }
                }
            }

                .img-content{
                    display: flex;
                    justify-content: center;

                    img{
                        width: 60%;
                        max-width: 495;
                    }
                }
        }
    }
}