.seccion1{
    width: auto;
    height: 80px;
    margin-top: 80px;

    .tit1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding-top: 25px;
        font-size: xx-large;
        text-shadow: 0px 0px 27px rgba(0,0,0,0.61);
    }
}

        .products{
            width: 100%;
            display: flex;
            flex-direction: row;
        
            .product{
                width: 100%;
                margin: 20px;
                border-radius: 6px;
                overflow: hidden;
                background-color: #fff;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
                cursor: default;
                transition: all 400ms ease;
                justify-content: center;
                align-items: center;

                &:hover{
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                    transform: translateY(-3%);
                }
            
                img{
                    width: 100%;
                    max-width: 100px;
                }

                .content{
                    padding: 15px;
                    text-align: center;

                    p{
                        line-height: 1.5;
                    }
                }
            }

            figure{
                display: flex;
                justify-content: center;
                margin-top: 8px;
            }
        }

    .section-1{
        margin-top: 120px;
        margin-left: 80px;

        .tittle{
            max-width: 1200px;
            margin-bottom: 10px;
        }

        .description{
            max-width: 653px;
        }
    }