@mixin titulo{
    color: white;
    padding-top: 25px;
    font-size: xx-large;
    text-shadow: -1px 3px 2px #ab5be3;
}

@mixin description{
    color: map-get($map: $palette, $key: 'secondary');
    text-shadow: -1px 3px 2px map-get($map: $palette, $key: 'primary');
}

.seccion1{
    width: auto;
    height: 80px;
    margin-top: 80px;

    .tit1{
        display: flex;
        justify-content: center;
        align-items: center;
        @include titulo;
        animation:tracking-in-contract 0.5s linear both;

        @keyframes tracking-in-contract{
            0%{letter-spacing:.6em;opacity:0
            }
            40%{opacity:.6
            }
            100%{letter-spacing:normal;
            opacity:1
        }
        }
    }
}

